.lobby-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
}

.lobby-box {
  text-align: center;
  padding: 20px;
  border: 2px solid #007bff; /* Ajusta el color del borde según tus preferencias */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejorar la legibilidad */
}

.lobby-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lobby-button {
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
  background-color: #fff; /* Fondo blanco para destacar los botones */
  border: 2px solid #007bff;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lobby-button:hover {
  background-color: #007bff; /* Color del botón al pasar el ratón por encima */
  color: #fff; /* Color del texto al pasar el ratón por encima */
}


