.board-container {
  flex: 1;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita el scroll dentro del contenedor del tablero */
}
